<!DOCTYPE html>
<html>
<head>
  <title>RailsReactStarter</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content"></div>
  <%= javascript_include_tag JAVASCRIPT_FRONTEND_PATH %>
</body>
</html>
